
*{
    margin: 0px;
    padding: 0px;
}

header {
    background-color: lightgray;
    min-width: 150px;
    margin: 0px;
    padding: 2px 10px 2px 10px;
}

header h1{
    text-align: center;
}

header p{
    text-align: center;
}

header ul {
    list-style-position: inside;
    columns: 2;
    max-width: 400px;
    margin: auto;
}

body {
    background-color: rgb(30, 30, 30);
}

main {
    background-color: white;
    min-width: 600px;
    min-height: 600px;
    margin: auto;
    margin: 0px 20px 30px 20px;
    border-radius: 0px 0px 10px 10px;
}